.menu {
    height: 75px;
    display: flex;
    align-items: center;
    color: #A6D1A1;
    .menu__ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
        .logo {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            margin-right: 200px;
        }
    }
} 


.center {
    border: 2px solid #333333;
    height: 350px;
}

.bgWhite {
    display: flex;
    height: 75px;
    justify-content: space-around;
    align-items: center;

    .bgWhite__logo {
        display: flex;
        justify-content: center;
    }
    .bgWhite__logo li img {
        padding: 10px;
    }
    .bgWhite__text{ 
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
    }
    .bgWhite__img {
        width: 50px;
        height: 50px;
    }
    .bgWhite__line {
        width: 0px;
        height: 50px;
        border: 1px solid #CBCBCB;
    }
}

.bgBlack{
    height: 180px;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
.bgBlack__text{
    padding: 30px;
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.bgBlack__text--small{
    display: flex;
    font-weight: 300;
    font-size: 16px;
}
.bgBlack__text--small li {
    margin-right: 10px;
}
}